nav{
    color: hsl(176, 50%, 47%);
    border-radius: 5rem;
    padding: 1.25rem;
    border-width: 1px;
}
header{
    align-items: end;
    
}
 body{
    font-size: 16px;
    text-align: center;
    background-color: rgb(242, 235, 235);
 }
 .monitor{
    background-color: white;
    border-radius: 10px;
    margin: 0px 100px;
 }
main{
    text-align: center;
}
button{
    background-color:hsl(176, 50%, 47%);
    color: whitesmoke;
    padding: 10px 35px;
    border-radius: 30px;
    border: none;
    margin-bottom: 22px;
    margin: 0 100px;
    
    
}
.section-label{
 text-align:left;
}
h2{
    display:inline-flex;

    box-sizing: 32px;
    font-style:serif;
    flex-direction: column;
    unicode-bidi: isolate;
    position: relative;
    font-family: sans-serif;
}
.numbers{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    text-align: center;
    gap: 15rem;
    font-family: serif;
    line-height: inherit;
    background-color: white;
    border-radius: 10px;
    
}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}
.top-right{
    gap: 10px;
    justify-content: space-evenly;
    top: 8px;
    right: 16px;
    position: absolute;
    color: white;

}
div{
    background-color: whitesmoke;
    width: 1200px;

}